@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/web";

@plugin "@tailwindcss/forms";
@plugin "../vendor/heroicons";

@theme {
    --color-brand: #FD4F00;
}

@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* This file is for your main application CSS */
@import "../node_modules/ol/ol.css";

.ol-full-screen {
    top: auto;
    bottom: 0.5em;
    right: 0.5em;
}
